h6{
    font-size: 22px;
    color: $nickelColor;
    font-family: $fontRoboto;
    padding-bottom: 30px;
    padding-top: 10px;
}
.card-body__text__font-roboto{
    list-style: none;
    margin-bottom: 5px;
    font-size: 16px;
    color: $eerieBlackColor;
    font-family: $fontRoboto;
}

li .card-body{
    margin-bottom: 20px;
    margin-right: 26px;
    margin-left: 20px;
}